# Copia este archivo como .env y llena los valores reales
# NO subas el .env a GitHub — ya está en el .gitignore

DATABASE_URL=mysql+pymysql://root:vjqqUposHpxNOJPBJCkkPrTajwljIbTP@zephyr.proxy.rlwy.net:49380/railway
